<div class="main-carousel">
  <carousel>
    <slide>
      <img src="../../../assets/images/house.jpg" alt="house">
      <div class="carousel-header">
        <h3>List your dreams</h3>
      </div>
      <div class="carousel-caption">
        <p>From your dream home...</p>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/images/audi.jpg" alt="car">
      <div class="carousel-header">
        <h3>List your dreams</h3>
      </div>
      <div class="carousel-caption">
        <p>To your dream car...</p>
      </div>
    </slide>
    <slide>
      <img src="../../../assets/images/travel.jpg" alt="travel">
      <div class="carousel-header">
        <h3>List your dreams</h3>
      </div>
      <div class="carousel-caption">
        <p>or your dream trip.</p>
      </div>
    </slide>
  </carousel>
  <div class="buttons">
    <button md-button *ngIf="!loggedIn" [routerLink]="'/login'">Log In</button>
    <button md-button *ngIf="!loggedIn" [routerLink]="'/register'">Register</button>
    <button md-button *ngIf="loggedIn" [routerLink]="'/bucketlist'">View Bucketlists</button>
  </div>
</div>
