.main-carousel {
  width: 900px;
  height: 622px;
  margin: 20px auto;
  font-family: 'Indie Flower', cursive;
}

img {
  height: 622px;
  width: 900px;
}

slide {
  position: relative;
}

.carousel-header {
  position: absolute;
  top: 30px;
  left: 250px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 50px;
  color: #ffffff;
  background-color: rgba(38, 12, 12, 0.34);
  border-radius: 20px;
  padding: 20px;
}

.carousel-caption {
  font-weight: thin;
  font-style: italic;
  font-size: 30px;
  background-color: rgba(38, 12, 12, 0.34);
  border-radius: 20px;
  padding: 20px;
  bottom: 40px;
}

.buttons {
  position: absolute;
  top: 540px;
  left: 470px;
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  width: 370px;
}

button {
  background-color: rgba(38, 12, 12, 0.34);
  border-radius: 20px;
}
