<md-sidenav-container class="container">
  <md-sidenav #sidenav class="sidenav">
    <!-- sidenav content -->
    <button md-menu-item (click)="back()" class="nav-btn">
      <md-icon>arrow_back</md-icon>
        <span>Back</span>
    </button>
    <button md-menu-item (click)="addItem()" class="nav-btn">
      <md-icon>add_circle</md-icon>
        <span>New Item</span>
    </button>
    <button md-menu-item (click)="editList()" class="nav-btn">
      <md-icon>edit</md-icon>
        <span>Edit List</span>
    </button>
  </md-sidenav>
  <div class="content">
    <button class="sidenav-button" md-icon-button (click)="sidenav.open()">
      <md-icon>more_vert</md-icon>
    </button>
    <!-- primary content -->
    <md-tab-group class="content-tab" md-dynamic-height>
      <md-tab label="Details">
        <md-card class="list-details">
          <md-card-header>
            <md-card-title>{{bucketlist['bucketlist_title'] | uppercase}}</md-card-title>
            <md-card-subtitle>{{bucketlist['bucketlist_description']}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image src="../../../assets/images/benz.jpg">
          <md-card-content>
            <div class="details">
              <small><strong>Created: </strong>{{bucketlist['bucketlist_created'] | date}}</small>
              <br>
              <small><strong>Last Modified: </strong>{{bucketlist['bucketlist_modified'] | date}}</small>
            </div>
          </md-card-content>
          <md-card-actions>
            <button md-button>View Items</button>
            <button md-button>Delete</button>
          </md-card-actions>
        </md-card>
      </md-tab>
      <md-tab label="Items" class="items-tab">
        <div *ngIf="bucketlist['count'] == 0 && !_search" class="col-lg-7 text-center alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
          <strong>Warning!</strong> You currently don't have any items.
        </div>
        <div *ngIf="bucketlist['count'] == 0 && _search" class="col-lg-7 text-center alert alert-warning" role="alert">
          <strong>Warning!</strong> You're search did not match any items.
        </div>
        <div class="searchbox">
          <form class="form-inline" style="float:right">
            <!--<input class="form-control col-sm-5" type="number" min="1" name="page" placeholder="List Per Page" #page id="page-box" (change)="paginate(page.value)">-->
            <input class="form-control" type="text" name="search" placeholder="Search Items" #searchBox id="search-box" (keyup)="search(searchBox.value)">
            <!--<button class="btn btn-lg btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
          </form>
          <div class="slider">
            <span>Items Per Page</span>
            <md-slider showTicks="true" #page max="20" min="0" step="1" thumbLabel="true" value="0" (input)="paginate(page.value)">
            </md-slider>
          </div>
        </div>
        <div *ngIf="_paginate" class="paginate">
          <button md-menu-item (click)="goTo(bucketlist['previous'])" id="previous">
              <md-icon>keyboard_arrow_left</md-icon>
              </button>
          <h3 class="page-text"><small>Page {{bucketlist['page']}}</small></h3>
          <button md-menu-item (click)="goTo(bucketlist['next'])" id="next">
              <md-icon>keyboard_arrow_right</md-icon>
              </button>
        </div>
        <div>
          <div *ngIf="bucketlist['count'] > 0">
            <md-grid-list class="grid" cols='3' rowHeight='500px' *ngIf="!_paginate; else gridStyle">
              <md-grid-tile *ngFor="let listitem of bucketlist['items']" class="item">
                <md-card>
                  <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title [routerLink]="['/bucketlist', listitem.bucketlist_id, 'items', listitem.id]"><strong>{{listitem.title | uppercase}}</strong></md-card-title>
                    <md-card-subtitle><small>({{listitem.content}})</small></md-card-subtitle>
                  </md-card-header>
                  <img md-card-sm-image src="../../../assets/images/house.jpg">
                  <md-card-content>
                    CREATED: {{listitem.date_created | date}}
                    <br> MODIFIED: {{listitem.date_modified | date}}
                  </md-card-content>
                  <md-card-actions>
                    <button md-button [routerLink]="['/bucketlist', listitem.bucketlist_id, 'items', listitem.id]" id="view-btn">View Item </button>
                    <button md-button (click)="editItem(listitem)" id="view-btn">Edit Item</button>
                    <button md-button (click)="removeItem(listitem.id)" id="view-btn">Delete Item</button>
                  </md-card-actions>
                </md-card>
              </md-grid-tile>
            </md-grid-list>
            <ng-template #gridStyle>
              <md-grid-list class="grid-style" cols='3' rowHeight='500px'>
              <md-grid-tile *ngFor="let listitem of bucketlist['items']" class="item" style="
  width: calc(((32.3333% - 0.666667px) * 1) + 0px);">
                <md-card>
                  <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title [routerLink]="['/bucketlist', listitem.bucketlist_id, 'items', listitem.id]"><strong>{{listitem.title | uppercase}}</strong></md-card-title>
                    <md-card-subtitle><small>({{listitem.content}})</small></md-card-subtitle>
                  </md-card-header>
                  <img md-card-image src="../../../assets/images/house.jpg">
                  <md-card-content>
                    CREATED: {{listitem.date_created | date}}
                    <br> MODIFIED: {{listitem.date_modified | date}}
                  </md-card-content>
                  <md-card-actions>
                    <button md-button [routerLink]="['/bucketlist', listitem.bucketlist_id, 'items', listitem.id]" id="view-btn">View Item </button>
                    <button md-button (click)="editItem(listitem)" id="view-btn">Edit Item</button>
                    <button md-button (click)="removeItem(listitem.id)" id="view-btn">Delete Item</button>
                  </md-card-actions>
                </md-card>
              </md-grid-tile>
            </md-grid-list>
            </ng-template>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</md-sidenav-container>
