.container {
  background: none;
}

.sidenav-button {
  display: inline-block;
  float: left;
}

.list-details {
  width: 300px;
  margin: 20px auto;
}

.list-details img {
  width: 300px;
  height: 300px;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 100%;
}

md-card-actions {
  text-align: center;
}
md-card-actions md-icon {
  margin: 10px;
}
.paginate {
  display: inline-block;
  text-align: center;
}

.paginate md-icon {
  display: inline-block;
  margin: 0 10px;
}

.paginate span {
  display: inline-block;
  position: relative;
  font-size: 30px;
  top: -2px;
  width: 100px;
}

.new {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}

.search {
  float: right;
  margin: 0 10px;
}

.page-list {
  float: right;
  margin: 0 10px;
}

.controls {
  height: 50px;
  margin-top: 2px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 90%;
  margin: 0 auto;
}

.list-content {
  display: inline-block;
  margin: 15px;
}

.list-content img {
  width: 300px;
  height: 300px;
}

.container {
  background: none;
  margin-top: 10px;
}
.sidenav {
  width: 150px;
  margin-left: -15px;
}
