.paginate {
  display: inline-block;
  text-align: center;
}

.paginate md-icon {
  display: inline-block;
  margin: 0 10px;
}

.paginate span {
  display: inline-block;
  position: relative;
  font-size: 30px;
  top: -2px;
  width: 100px;
}

.new {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}

.search {
  float: right;
  margin: 0 10px;
}

.page-list {
  float: right;
  margin: 0 10px;
}

.controls {
  height: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.list-content {
  display: inline-block;
  margin: 15px;
}

.list-content img {
  width: 200px;
  height: 200px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.alert {
  position: absolute;
  top: 35px;
  left: 350px;
  width: 500px;
  text-align: center;
}
md-card-actions {
  text-align: center;
}
md-card-actions md-icon {
  margin: 10px;
}

.container {
  background: none;
  margin-top: 10px;
}
.sidenav {
  width: 150px;
  margin-left: -15px;
}
